apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - image: tomisebjanic/rso-auth:1.0.2
        name: auth
        env:
          - name: KUMULUZEE_DISCOVERY_CLUSTER
            value: bluemix
          - name: KUMULUZEE_DISCOVERY_ETCD_HOSTS
            value: http://etcd:2379
          - name: KUMULUZEE_CONFIG_ETCD_HOSTS
            value: http://etcd:2379
          - name: KUMULUZEE_SERVER_BASEURL
            value: http://auth:8089
        livenessProbe:
          httpGet:
            path: /health
            port: server
          initialDelaySeconds: 60
          periodSeconds: 3
        ports:
        - containerPort: 8089
          name: server
          protocol: TCP
        resources:
          requests:
            cpu: 150m

---

apiVersion: v1
kind: Service
metadata:
  name: auth
  labels:
    app: auth
spec:
  type: NodePort
  ports:
  - name: server
    port: 8089
    protocol: TCP
    targetPort: 8089
  selector:
    app: auth

---

apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: auth
spec:
  scaleTargetRef:
    apiVersion: apps/v1beta1
    kind: Deployment
    name: auth-deployment
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 50